<aside>
    <div class="row">
        <div class="sidebar">
            <p>More About Zest</p>
            <ul>
                <li><a href="{{ '/' | prepend: site.baseurl }}">Welcome to
                    Zest</a></li>
                <li>
                    <a href="{{ '/catering-in-derry-londonderry' | prepend: site.baseurl }}">Outside
                        Catering / Caterers in Derry / Londonderry</a></li>
                <li><a href="{{ '/contact-us' | prepend: site.baseurl }}">Contact
                    Us</a>
                </li>
            </ul>
        </div>
    </div>
</aside>