article {
  float: left;
  width: $contentWidth;

  padding: $standardMargin / 2;

  h1 {
    font-weight: normal;
    font-size: 2em;
  }

  address {
    font-style: normal;
    .street {
      border-left: 1em solid lighten($textColor, 70%);
      padding: .5em 1em;
      margin-bottom: 1em;
    }
  }
}

blockquote {
  font-size: 1.2em;
  margin:0;
  padding: .5em 1em;
  border-left: 1em solid lighten($textColor, 70%);

  p {
    margin:0;
  }
  
  cite {
    display: block;
    text-align: right;
    font-size: .7em;
  }
}

.flexbox {
  .row {
    display: flex;
    > * {
      float: none;
    }
  }
}