nav {
  overflow: hidden;
  font-size: .8em;
  text-transform: uppercase;

  ul {
    margin:0;
    padding:0;
    list-style: none;
  }
  
  li {
    float: left;
  }
  
  a {
    display: block;
    line-height: 2em;
    padding: 0 1em;
    border: 1px solid $borderColor;
    border-left: 0;
    border-bottom: 0;
    text-decoration: none;
    color: $textColor;
  }

  li:first-child a {
    border-left: 1px solid $borderColor;
  }
}