$fontFamily: Georgia, "Times New Roman", Times, serif;
$siteBackgroundColor: #44443f;
$pageBackgroundColor: #fff;
$linkColor: #2361a1;
$textColor: #333;
$footerTextColor: lighten($textColor, 20%);
$borderColor: lighten($textColor, 60%);
$standardMargin: 20px;

$pageWidth: 960px;
$sidebarWidth: 420 + $standardMargin;
$contentWidth: $pageWidth - $sidebarWidth;