@import "vars";

* {
  box-sizing: border-box;
}

body {
  background-color: $siteBackgroundColor;
  font-family: $fontFamily;
  line-height: 1.7;
}

a {
  color: $linkColor;
  text-decoration:none;

  &:hover {
    text-decoration: underline;
  }

  &[href$=".pdf"]:before {
    content: '';
    width: 15px;
    line-height: inherit;
    height:1em;
    display: inline-block;
    .svg & {
      background: url(../images/download.svg) no-repeat bottom;
      background-size: contain;
    }
    .no-svg & {
      background: url(../images/download.png) no-repeat bottom;
    }

    margin-right: .5em;
  }
}

@import "layout";
@import "nav";
@import "header";
@import "content";
@import "sidebar";
@import "footer";